<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <import src="./_head.html">
      <link rel="stylesheet" href="./lib/pico.min.css" />
      <script src="./lib/alasql@4.js"></script>
      <script src="./lib/petite-vue.iife.js" defer="" init=""></script>

      <link rel="stylesheet" href="./lib/app.css" />
      <script src="./lib/app.js"></script>
    </import>
    <div class="grid">
      <aside>
        <import src="./_sidebar.html">
          <div
            @vue:mounted="semuaTulisan"
            v-scope="{
      semuaTulisan(){
        this.tulisan = alasql(/*sql*/ `select id, judul from catatan order by judul`)
      },
      tulisan: []
    }"
          >
            <h2>Menu</h2>
            <ol>
              <li>
                <a href="./index.html">Beranda</a>
              </li>
              <li>
                <a href="./tulisan-baru.html">Tulisan Baru</a>
              </li>
              <li>
                <a href="./cari.html">Cari</a>
              </li>
            </ol>
            <h2>Semua Tulisan</h2>
            <ol>
              <li v-for="t in tulisan">
                <a :href="'baca.html?'+t.id">{{t.judul}}</a>
              </li>
            </ol>
          </div>
        </import>
      </aside>
      <main v-scope="{
        mencari(){
this.hasil = alasql(/*sql*/ `select id, judul from catatan where judul like ? or isi like ? order by judul`, [`%${this.yangDicari}%`, `%${this.yangDicari}%`])
this.yangDicari = ''
        },
        yangDicari: '',
        hasil: []
      }">
        <form action="" @submit.prevent="mencari">
            <label for="cari">Cari</label>
            <input v-model="yangDicari" type="search" id="cari">
        </form>
        <div v-if="hasil.length > 0">

            <h2>Hasil Pencarian</h2>
            <ol>
                <li v-for="h in hasil"><a :href="`./baca.html?${h.id}`">{{ h.judul }}</a></li>
            </ol>
        </div>
      </main>
    </div>
  </body>
</html>
